@mixin footer-logo {
  margin-bottom: 4rem;

  .footer-logo {
    width: 150px;
    height: auto;
    filter: brightness(0) invert(1);
  }
}

@mixin footer-content {
  // Footer menu
  .footer-navigation {
    .footer-menu {
      @include footer-menu;
    }
  }

  // Newsletter block
  .footer-newsletter {
    @include footer-newsletter;
  }

  // Social block
  .footer-social {
    @include footer-social;
  }
}

@mixin footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    margin-bottom: 1rem;

    a {
      @extend .bilo;
      color: $white;
      text-decoration: none;
      font-size: 1.35rem;
      font-weight: $font-weight-bold;
      transition: opacity 0.3s ease;
      text-transform: uppercase;

      &:hover {
        opacity: 0.7;
      }
    }
  }
} 