// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$black: #000; // Thats a sample how you could change a BootStrap variable.
$primary: $black; // Once we've changed the value, we'll also make it the primary brand color.

// Import fonts
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

// Font families
$font-family-pt: "PT Serif", serif;
$font-family-bilo: "bilo", sans-serif;

$btn-close-color: $black;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>") !default;

// Font weights for Bilo
.bilo {
  font-family: $font-family-bilo;
  font-style: normal;

  &-light {
    font-weight: 300;
  }

  &-regular {
    font-weight: 500;
  }

  &-medium {
    font-weight: 500;
  }

  &-semibold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }
}
